.App {
	text-align: center;
	background-color: gray;
}

.card-title {
	text-align: center;
	margin-top: 2rem
}

.user-table {
	max-height: 500px;
	overflow: auto;
}

.row {
	margin: 0px !important;
}

.form-inputs {
	width: 75%;
	margin: auto;
	margin: 30px auto 30px auto;
}
